<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ediancha.edcbusiness">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main5Activity" />
        <activity android:name=".activity.Main6Activity" />
        <activity
            android:name=".activity.my.PersonCenterActivity"
            android:theme="@style/PersonCenterTheme" />
        <activity
            android:name=".activity.QwActivity"
            android:theme="@style/QwTheme"></activity>
        <activity android:name=".activity.SpaceDescActivity"></activity>
        <activity android:name=".activity.message.ActivityMessageActivity"></activity>
        <activity android:name=".activity.message.ActivitySplendidActivity"></activity>
        <activity android:name=".activity.message.ExpenseTipsActivity"></activity>
        <activity android:name=".activity.walletbag.MyPackageActivity"/>
        <activity android:name=".activity.walletbag.CouponActivity"/>
        <activity android:name=".activity.walletbag.DepositActivity"/>
        <activity android:name=".activity.walletbag.MoneyActivity"/>
        <activity android:name=".activity.walletbag.ChargeActivity"/>
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/LoginTheme"></activity>
        <activity android:name=".activity.order.SpaceOrderActivity"></activity>
        <activity android:name=".activity.order.GoodOrderActivity"></activity>
        <activity android:name=".activity.order.GoodOrderDescActivity"></activity>
        <activity android:name=".activity.my.MyInfoActivity"></activity>
    </application>

</manifest>